.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.todoApp{
  flex: 1;
  display: flex;
  flex-direction: column;
  width:500px;
  height:560px;
  border-radius: 10px;
  border: 1px solid white;
}


.App-header {
  
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  width:100%;
  height:10%;
  border-bottom: 1px solid whitesmoke;
  font-size: calc(10px + 2vmin);
  color: white;
}

.todoBody{
  height:max-content;
  display: flex;
  flex-direction: column;
  width:100%;
  
  background-color: teal;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
